p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: lightgray;
}
h1 {
    color: black;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.content-box {
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 18px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    text-decoration: underline;
}
td {
    text-align: left;
    background-color: #f2f2f2;
}
form {
    display: block;
}
label {
    font-weight: bold;
}
input[type="text"], input[type="email"] {
    padding: 8px;
    border: 1px solid #ddd;
}
input[type="submit"]:hover {
    background-color: #6da170;
    color: white;
    padding: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.transition-button {
    background-color: lightblue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.transition-button:hover {
    background-color: lightcoral;
}

.animation-box {
    width: 50px;
    height: 50px;
    background-color: lightpink;
    position: relative;
    animation: move 2s infinite alternate;
}
@keyframes move {
    from {
        left: 0;
    }
    to {
        left: 100px;
    }
}

.pseudo-list li:nth-child(odd) {
    background-color: lightgray;
}
.pseudo-list li:nth-child(even) {
    background-color: white;
}
